<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency rates</title>
</head>
    <body>
        <table>
            <tr>
                <th>Дата</th>
                <th>Тип валюты</th>
                <th>Курс</th>
            </tr>
            <tr th:each="currencyRate: ${rates}">
                <td th:text="${currencyRate.getCurrencyDate()}">Date</td>
                <td th:text="${currencyRate.getCurrencyType()}">Type</td>
                <td th:text="${currencyRate.getCurrencyRate()}">Course</td>
            </tr>
        </table>
    </body>
</html>